*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}





.box{
    background-color: aqua;
    color: brown;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin: 0 auto;
    transition: all  2s 
    ;
}





.box:hover{
    background-color: yellow;
    color: green;
    border-radius: 12px;
    transition-property: all;
    transition-duration: 9s;
    transition-timing-function: linear;
    
}


.email:valid{
    border-color: blue;

}

.email:invalid{
    background-color: red;
    color: rgb(0, 255, 17);
}



.input:focus{
    box-shadow:  0 0 10px yellow;
}



.buy:active{
    background-color: aqua;
    color:rgb(0, 221, 255);
}






