*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}




.box,
.card{
width: 250px;
height: 250px;
border: 5px   solid  #b8b8b8;
background-color: #34ff33;
display: flex;
align-items: center;
justify-content: center;
font-size: 32px;
color: #fff;
transition: all  0.3s linear;

}


.card{
    background-color: #34ff33;
    font-size: 16px;


}

.box:hover{
    transform: translateY(-30px) translateX(-30px);
}

.wraper{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    border-color: rgb(67, 90, 171);
    margin: 100px auto;

}
.card-skew:hover{
    transform: rotateY(180deg);

}

.card-scale:hover{
    transform: scaleX(1.3);

}

.card-rotel:hover{
    transform: rotateY(180deg);
}

