*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



.contener{
    width: 1210px;
    margin: 0 auto;
}

.q{
    display: flex;
    width: 197,87px;
}

.a{
     background: linear-gradient(#047857);
    -webkit-background-clip: text; 
    color: transparent;
}

.u{
    display: flex;
    justify-content: space-between;
}

.s{
    display: flex;
    height: none;
}

.m{
    display: flex;
}

.n{
    width: 79px;
height: 30px;
gap: 4px;

margin-top: 20px;

border-radius: 3px;
}

.j{
    width: 225px;
    height: 40px;
  display: flex;
margin-top: 20px;
}
.h{
    margin-top: 50px;
     background: linear-gradient(  #07eaa9,white, #07eaa9    );
}

.d{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.g{
    display: flex;
    justify-content: center;
    align-items: center;

}


.h button{
    background-color: #168163;
border-radius: 12px;
  display: flex;
    justify-content: center;
    margin: 0 auto;
    
}

.h h1{
    margin-top: 100px;
}



.z{
    margin-top: 105px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.c{
    display: block;
}

.n img{

    width: 190px;
}

.n{
    
    width: 120px;
}



